{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button aria-label="More navigation" aria-controls="more-navigation" aria-expanded="false"><div class="navicon"></div></button>
        <ul class="visible-links">
          {% assign masthead_title = site.title %}
          {% if page.url == "/" and page.title %}
            {% assign masthead_title = page.title %}
          {% endif %}
          {% assign masthead_title = masthead_title | strip %}
          {% if masthead_title != empty %}
            <li class="masthead__menu-item masthead__menu-item--lg">
              <a href="{{ base_path }}/">{{ masthead_title }}</a>
            </li>
          {% endif %}
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul id="more-navigation" class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
